/* Given Specifications:
red: rgb(183, 149, 158)
blue: rgb(57, 70, 80)
grey: rgb(191, 193, 194)
font: APERCU
title-page: Size - 120pt, Capital, Bold, Tracking- 6%
heading: Size - 30pt, Capital, Bold, Tracking- 20%
subheading: Size - 20/18pt, Capital, Medium, Tracking- 20%
Body: Tracking - 75, Size - 20/18pt, Sentence Case, Light, Tracking- 12%, Line space - 1.4
*/

@font-face{
  font-family:'Apercu-Light';
  src:url("../type/aperculight.eot");
  src:url("../type/aperculight.eot?#iefix") format('embedded-opentype'),url("../type/aperculight.woff") format('woff'),url("../type/aperculight.ttf") format('truetype'),url("../type/aperculight.svg#Apercu-Light") format('svg');
  font-weight:300;
  font-style:normal
}
@font-face{
  font-family:'Apercu-LightItalic';
  src:url("../type/aperculightitalic.eot");
  src:url("../type/aperculightitalic.eot?#iefix") format('embedded-opentype'),url("../type/aperculightitalic.woff") format('woff'),url("../type/aperculightitalic.ttf") format('truetype'),url("../type/aperculightitalic.svg#Apercu-LightItalic") format('svg');
  font-weight:300;
  font-style:italic
}
@font-face{
  font-family:'Apercu-Medium';
  src:url("../type/Apercu-Medium.eot");
  src:url("../type/Apercu-Medium.eot?#iefix") format('embedded-opentype'),url("../type/Apercu-Medium.woff") format('woff'),url("../type/Apercu-Medium.ttf") format('truetype'),url("../type/Apercu-Medium.svg#Apercu-Medium") format('svg');
  font-weight:600;
  font-style:normal
}
@font-face{
  font-family:'BacchusIcons';
  src:url("../type/bacchusicons.eot");
  src:url("../type/bacchusicons.eot?#iefix") format('embedded-opentype'),url("../type/bacchusicons.woff") format('woff'),url("../type/bacchusicons.ttf") format('truetype'),url("../type/bacchusicons.svg#BacchusIcons") format('svg');
  font-weight:400;
  font-style:normal
}
html,body{ min-height:100%; height:100%; width:100% }
body{
  font-family:'Apercu-Light','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  line-height:21px;
  letter-spacing:1px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  color:#8e8e8d;
  background-color:#fff;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-text-size-adjust:none;
}
h1{
  font-size:20px;
  line-height:28px;
  letter-spacing:2px;
  text-transform:lowercase;
}
h2{
  font-size:20px;
  line-height:28px;
  letter-spacing:2px;
  text-transform:lowercase;
  letter-spacing:2px;
  font-family:'Apercu-Medium','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight:600;
  font-style:normal;
  text-transform:uppercase;
  padding-bottom:8px
}
h3{
  font-size:14px;
  line-height:26px;
  letter-spacing:1px;
}
h4, h5, h6{
  font-size:11px;
  line-height:18px;
  letter-spacing:0;
  letter-spacing:.5px;
}
