/* Given Specifications:
red: rgb(183, 149, 158)
blue: rgb(57, 70, 80)
grey: rgb(191, 193, 194)
font: APERCU
title-page: Size - 120pt, Capital, Bold, Tracking- 6%
heading: Size - 30pt, Capital, Bold, Tracking- 20%
subheading: Size - 20/18pt, Capital, Medium, Tracking- 20%
Body: Tracking - 75, Size - 20/18pt, Sentence Case, Light, Tracking- 12%, Line space - 1.4
*/

html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%
}

body {
  height: 100vh;
  margin: 0 auto;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.5px;
  font-family: 'Apercu-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* color: rgb(142, 142, 141); */
  color: rgb(47, 47, 47);
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body > header {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.hide-content {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
}

/* .sticky .header-logo {
  text-align: left;
  height: 58px;
  transition: height 0.3s ease;
}

.sticky .header-logo .logo {
  height: 90%;
  transition: height 0.25s ease 0.05s;
}

.sticky .header-logo h1 {
  display: inline-block;
  font-size: 25px;
  transition: font-size 0.2s ease-in 0.1;
} */

/* TODO: Determine a min-max, or other technique, to avoid wrapping .header-log h1 on narrow screen. */
/* Currently using @media (at end of this style-sheet. */

.sticky .intro > *:not(.status) {
  display: none;
  overflow: hidden;
}

.sticky .intro p {
  line-height: 1.2;
  transition: line-height 0.2s ease 0.2s;
}
.sticky .intro h2 {
  font-size: 20px;
  line-height: 1.2;
  transition: font-size 0.3s ease-out 0.1s, line-height 0.2s ease 0.2s;
}
.sticky .intro .platform-user-header {
  font-weight: lighter;
}
.sticky+main {
  padding-top: 126px;  /* 290px for No transition protects against wobble of smaller header removes scrolling sticky. */
}

/* menu */

body > header nav .menu {
  position: absolute;  /* relative makes it jumpy. Setting top changes where it slides from. */
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 0;
  min-height: 0;
  transition: all .4s ease-in-out;
  transform: translate3d(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.94);
  border-top: 1px solid black;
  overflow: hidden;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: lowercase;
  list-style: none;
}

body > header nav .menu li {
  z-index: 100;  /* Want to cover any underlying interactive elements, but not working. */
}

body > header nav .menu li a {
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 6px 20px;   /* If setting width or height, probably not keep this padding */
  margin: 4px auto;    /* Took 4px away from the padding to give some space between links */
  text-decoration: none;
  background: transparent;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px;
}

/* menu icon */

body > header nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: absolute;  /* Using absolute instead of relative makes right float not needed. */
  top: 0;
  right: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  /* z-index: 105; */
}

body > header nav .menu-icon .navicon {
  background: #000000;
  display: block;
  height: 2px;
  position: relative;  /* allows sizing of menu button bars, but absolute would require finicky placement */
  transition: all .2s ease-out;
  width: 18px;
}

body > header nav .menu-icon .navicon:before,
body > header nav .menu-icon .navicon:after {
  background: #000000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;   /* relative does not look as good. */
  transition: all .2s ease-out;
  width: 100%;
}

body > header nav .menu-icon .navicon:before {
  top: 5px;
}

body > header nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

body > header nav .menu-btn {
  display: none;  /* TODO: combine with selector of other checkbox display: none */
}

body > header nav .menu-btn:checked~.menu {
  max-height: 80%;
  padding: 10px 0;
  min-height: 384px;   /* instead of fixed position, setting needed space for menu items works better. */
  transition: all .4s ease-in-out 0.1s;
}

body > header nav .intro {
  position: relative;
  top: 0;
  transition: top .4s ease-in-out 0.1s;
}

body > header nav .menu-btn:checked~.intro {
  top: 384px;
  transition: top .4s ease-in-out;
}

body > header nav .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
  transition: all .2s ease-out;
}

body > header nav .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

body > header nav .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

body > header nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
body > header nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
  transition: all .2s ease-out;
}

.header-logo {
  height: 10vh;
  text-align: center;
  /* z-index: 100; */
}

.header-logo h1 {
  font-size: 2.63vh;
  line-height: 1.4;
  margin: 0;
}

.header-logo .logo {
  height: 55%;
}

.intro {
  background-color: #000000;
  color: #fff;
  padding: 2% 1.5%;
  text-align: left;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.6;
  font-family: 'Apercu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  z-index: 100;  /* Covers any interactive elements underneath when nav menu is expanded. */
}

.intro > * {
  margin: 0;
  padding: 0;
}

.intro h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 0.2em;
}

.intro h3,
.intro h4,
.intro h5,
.intro h6 {
  color: #fff;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.intro .platform-user-header {
  text-align: center;
  font-weight: bolder;
}

.intro .status {
  text-align: center;
}

.intro ul {
  list-style: none;
}

.intro ol::before,
.intro ul::before {
  content: attr(title) ': ';
  font-weight: bolder;
}

.intro li {
  display: inline-block;
}

.intro a:visited,
.intro a:link,
.intro a {
  /* color: rgb(255, 225, 230); */
  color: rgb(205, 225, 245);
  text-decoration: none;
}

.intro a:focus,
.intro a:hover {
  /* color: rgb(183, 149, 159); */
  color: rgb(245, 225, 205);
  text-decoration: none;
}

.intro a:active {
  /* color: rgb(233, 199, 209); */
  color: rgb(233, 199, 209);
  text-decoration: none;
}

.main-content-box {
  display: flex;
  justify-content: space-between;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #fff;
  border-bottom: 2px solid rgba(142, 142, 141, 0.767);
}

.sub-main-content {
  display: block;
  width: 70%;
}


@font-face {
  font-family: 'Apercu-Light';
  src: url("/static/font/Apercu-Light.ttf");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Apercu-LightItalic';
  src: url("/static/font/Apercu-LightItalic.ttf");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: 'Apercu-Bold';
  src: url("/static/font/Apercu-Bold.ttf");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: 'Apercu-Medium';
  src: url("/static/font/Apercu-Medium.ttf");
  font-weight: 700;
  font-style: normal
}

footer {
  text-align: center;
}

h1 {
  font-size: 35px;
  line-height: 28px;
  letter-spacing: 2.5px;
  font-family: 'Apercu-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* font-weight: 1000; */
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

h2 {
  font-size: 30px;
  line-height: 28px;
  letter-spacing: 2.5px;
  font-family: 'Apercu-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  /* font-weight: 600; */
  font-style: normal;
  padding-bottom: 8px;
  /* color: rgb(57, 70, 80); */
  color: rgb(29, 35, 40);
}

h3 {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 2px;
  font-family: 'Apercu-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  /* color: rgb(142, 142, 141); */
  color: rgb(71, 71, 71);
}

h4,
h5,
h6 {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.5px;
  font-family: 'Apercu-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* color: rgb(57, 70, 80); */
  color: rgb(29, 35, 40);
}

strong {
  font-style: italic;
}

.campaign_posts {
  display: flex;
  justify-content: flex-end;
}

.campaign_posts .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 1;
  padding: 1rem;
}

.campaign_posts .form-group label {
  white-space: nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: .2rem 0;
}

.campaign_posts article {
  flex-basis: 100%;
  order: 2;
}

.campaign_posts .metrics {
  padding: 0 1rem;
  white-space: nowrap;
  order: 3;
}

input.toggle[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  max-width: 34rem;
  font-weight: bold;
  padding: 0.5rem;
  color: #A77B0E;
  background: #FAE042;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover,
.lbl-toggle:focus {
  color: #7C5A0B;
}

.lbl-toggle.error {
  color: #222222;
  background: #995555;
}

.lbl-toggle.error:hover,
.lbl-toggle.error:focus {
  background: #AA4444;
}

.lbl-toggle.list {
  color: #555555;
  background: #F0F4FF;
}

.lbl-toggle.list:hover,
.lbl-toggle.list:focus {
  background: #D0D4DF;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  max-width: 34rem;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  background: rgba(250, 224, 66, .2);
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: 100%;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* End of expanding box of content  */
.error {
  color: #222222;
  background: #e09090;
}


button {
  border-top: 1px solid #000;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#4d5a78), to(#000));
  background: -webkit-linear-gradient(top, #4d5a78, #000);
  background: -moz-linear-gradient(top, #4d5a78, #000);
  background: -ms-linear-gradient(top, #4d5a78, #000);
  background: -o-linear-gradient(top, #4d5a78, #000);
  /* padding: 0px 14px; */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #e6e6e6;
  font-size: 14px;
  font-family: 'Apercu-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
  vertical-align: middle;
}

.no-show {
  background: #555761;
  background: -webkit-gradient(linear, left top, left bottom, from(#42454f), to(#555761));
  background: -webkit-linear-gradient(top, #42454f, #555761);
  background: -moz-linear-gradient(top, #42454f, #555761);
  background: -ms-linear-gradient(top, #42454f, #555761);
  background: -o-linear-gradient(top, #42454f, #555761);
  color: #9e9e9e;
}

button:hover,
button:focus {
  border-top-color: #4d5a64;
  background: #4d5a64;
  color: #bfc1c2;
}

button:active {
  border-top-color: #1a2630;
  background: #1a2630;
}

button {
  margin: 1rem 1rem 2rem 0rem;
}

.fb-login {
  display: inline-block;
  vertical-align: middle;
  background-color: #1877f2;
  background-image: url("/static/f_logo_RGB-White_58.png");
  background-size: 1.56rem;
  background-repeat: no-repeat;
  background-position: 0.74rem 0.43rem;
  border-radius: 0.25rem;
  padding: 0.65rem 0.75rem 0.65rem 2.77rem;
  margin: 0.2rem 0;
  white-space: nowrap;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.977rem;
  line-height: 1.28;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.join label {
  font-size: 120%;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .main-content-box {
    display: block;
    margin: auto;
    width: 90%;
  }
  .sub-main-content {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .sticky .header-logo,
  .header-logo {
    height: unset;
    min-height: 58px;
  }
  .header-logo .logo {
    height: 13.2vw;
  }
  .header-logo h1 {
    font-size: 6.25vw;
  }
  /* .sticky .header-logo .logo {
    height: 9vw;
  }
  .sticky .header-logo h1 {
    font-size: 4vw;
  } */
}

@media screen and (max-width: 385px) {
  .sticky .header-logo {
    text-align: center;
    height: unset;
  }
  .header-logo .logo,
  .sticky .header-logo .logo {
    height: 34px;
  }
  .header-logo h1,
  .sticky .header-logo h1 {
    display: block;
    font-size: 15px;
  }
}
