[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "<2.5"
gunicorn = "*"
pymysql = "*"
requests-oauthlib = "*"
python-dateutil = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth = "*"
flask-login = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"
cryptography = "*"
google-cloud-tasks = "*"
googleapis-common-protos = "*"
sqlalchemy = "<1.4"
google-cloud-logging = "*"

[requires]
python_version = "3.7"
