{% extends "base.html" %}
{% block head %}
<title>Developer Admin Page</title>
{% endblock %}

{% block content %}
<h1>Dev Admin Page</h1>
<p>
  {{ data }}
</p>
<p>
  The following are functions that can only be performed by a platform admin
</p>
<ul>
  <li><a href="{{ url_for('signup') }}">Create Manager or Admin User</a> </li>
  <li><a href="{{ url_for('all', mod='manager') }}">List Managers</a></li>
  <li><a href="{{ url_for('all', mod='admin')}}">List Admins</a></li>
  <li><a href="{{ url_for('all', mod='file') }}">Google Drive Files</a></li>
</ul>
{% if files %}
<h2>Google Drive Files owned by the Platform</h2>
<ul>
  {% for file in files %}
  <li><a href="{{ file['link'] }}">{{ file['name'] }}</a> {{ file['type'] }}</li>
  {%endfor %}
</ul>
{% endif %}
<h3>Uncommon Admin Options</h3>
<ul>
  <li><a href="{{ url_for('render_static', page_name='test') }}">Test Styles Page</a></li>
  <li><a href="{{ url_for('all', mod='post') }}">List all Posts</a></li>
  <li><a href="{{ url_for('all', mod='insight') }}">List all Insights</a></li>
  <li><a href="{{ url_for('all', mod='audience') }}">List all Audience Data</a></li>
  {% if dev %}
  <li><a href="{{ url_for('load_user') }}">Load File contents into Database</a> </li>
  <li><a href="{{ url_for('add', mod='influencer') }}">Add Fake Influencer</a></li>
  {% endif %}
</ul>

{% endblock %}
