{% extends "base.html" %}
{% block head %}
<title>Admin Page</title>
{% endblock head %}

{% block intro %}
<h2>Admin Page</h2>
{{ super() }}
{% endblock intro %}

{% block content %}
{% if data %}
<h3>Data For Admin Review</h3>
<p>
  {{ data }}
</p>
<hr />
{% endif %}
{% if files is not none %}
<h3>Files for Admin Review</h3>
<ul>
  {% for file in files %}
  <li><a href="{{ file['link'] }}">{{ file['name'] }}</a> {{ file['type'] }}</li>
  {% else %}
  <li>Files list is empty</li>
  {%endfor %}
</ul>
<hr />
{% endif %}

<p>The following are functions are for platform admins</p>
<ul>
  <li><a href="{{ url_for('signup') }}">Create Manager or Admin User</a> </li>
  <li><a href="{{ url_for('add', mod='brand') }}">Create Brand User</a> (Instagram account optional)</li>
  <li><a href="{{ url_for('all', mod='manager') }}">List Managers</a></li>
  <li><a href="{{ url_for('all', mod='admin')}}">List Admins</a></li>
  <li><a href="{{ url_for('all', mod='file') }}">Google Drive Files</a></li>
  <li><a href="{{ url_for('problem_posts') }}">Problem Posts</a></li>
  <li><a href="{{ url_for('admin') }}">RETURN to Base Admin Page (admin)</a></li>
</ul>

<h4>Permission Reports</h4>
<ul>
  <li><a href="{{ url_for('permission_report', group='all') }}">Permission Report: All</a></li>
  <li><a href="{{ url_for('permission_report', group='active') }}">Permission Report: Active</a></li>
  <li><a href="{{ url_for('permission_report', group='listed', ids='232,84') }}">Permission Report: Test</a></li>
</ul>
<h4>Page Subscribe</h4>
<ul>
  <li><a href="{{ url_for('subscribe_pages', group='active') }}">Subscribe to active Users FB page</a></li>
  <li><a href="{{ url_for('subscribe_pages', group='remove') }}">Remove inactive Users FB page</a></li>
  <li><a href="{{ url_for('subscribe_pages', group='all') }}">Get all Users missing FB page</a></li>
</ul>
<h4>Less Common Admin Functions</h4>
<ul>
  <li><a href="{{ url_for('render_static', page_name='test') }}">Test Styles Page</a></li>
  <li><a href="{{ url_for('all_posts') }}">Get new posts for ALL user accounts</a> (automatically run daily)</li>
  <li><a href="{{ url_for('all', mod='post') }}">List all Posts</a></li>
  <li><a href="{{ url_for('all', mod='insight') }}">List all Insights</a></li>
  <li><a href="{{ url_for('all', mod='audience') }}">List all Audience Data</a></li>
  {% if dev %}
  <li>Developer Only Functions - Potentially Dangerous</li>
  <li><a href="{{ url_for('add', mod='influencer') }}">Add Fake Influencer</a></li>
  <li><a href="{{ url_for('test_method') }}">Dev Test Method</a></li>
  <li><a href="{{ url_for('capture', id=378) }}">Capture Media Test Link</a></li>
  <li>Removed of Deprecated Functions (inactive function)</li>
  <li><a href="{{ url_for('admin', data='DEPRECATED: encrypt') }}">Run Encrypt Process (encrypt)</a></li>
  <li>
    <a href="{{ url_for('admin', data='DEPRECATED: load_user') }}">Load File contents into Database (load_user)</a>
  </li>
  <li><a href="{{ url_for('admin', data='DEPRECATED: backup_save') }}">Save users to file (backup_save)</a></li>
  <li>Start Admin Over</li>
  <li><a href="{{ url_for('admin') }}">RETURN to Base Admin Page (admin)</a></li>
  {% endif %}
</ul>

{% endblock content %}
