<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Social Network Management">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/main.css">
  {% block head %}
  <title>Influencer Performance Platform</title>
  {% endblock head %}
</head>
<body>
<header>
{% block header %}
  <nav>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('all', mod='user') }}">Users</a></li>
      <li><a href="{{ url_for('all', mod='brand') }}">Brands</a></li>
      <li><a href="{{ url_for('all', mod='campaign') }}">Campaigns</a></li>
      <li><a href="{{ url_for('data_default') }}">Developer Admin</a></li>
    </ul>
  </nav>
{% endblock header %}
</header>
{% block content %}
<main>
  <h1>Main Content</h1>
  <p>content goes here</p>
</main>
{% endblock content %}
<footer>
  <p>
    <a href="{{ url_for('render_static', page_name='privacy') }}">Privacy</a> | <a href="{{ url_for('render_static', page_name='tos') }}">Terms of Service</a>
  </p>
</footer>
</body>
</html>
