<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Social Network Management">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block head %}
  <title>{{ page_title }}</title>
  {% endblock %}
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('add', mod='brand') }}">Add Fake Brand</a></li>
      <li><a href="{{ url_for('all', mod='user') }}">List Users</a></li>
      <li><a href="{{ url_for('all', mod='brand') }}">List Brands</a></li>
      <li><a href="{{ url_for('data') }}">Data</a></li>
      <li><a href="{{ url_for('render_static', page_name='test') }}">Test Styles Page</a></li>
    </ul>
  </nav>
</header>
{% block content %}

{% endblock %}
<footer>
  <p>
    <a href="{{ url_for('render_static', page_name='privacy') }}">Privacy</a> | <a href="{{ url_for('render_static', page_name='tos') }}">Terms of Service</a>
  </p>
</footer>
</body>
</html>
