<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Social Network Management">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block head %}
  <title>{{ page_title }}</title>
  {% endblock %}
  <link rel="stylesheet" href="/style/normalize.css">
  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('add', mod='user') }}">Add Fake User</a></li>
      <li><a href="{{ url_for('add', mod='brand') }}">Add Fake Brand</a></li>
      <li><a href="{{ url_for('all', mod='user') }}">Admin - List Users</a></li>
      <li><a href="{{ url_for('all', mod='brand') }}">Admin - List Brands</a></li>
      <li><a href="{{ url_for('all', mod='insight') }}">Admin - List Insights</a></li>
      <li><a href="{{ url_for('all', mod='audience') }}">Admin - List all Audience Data</a></li>
    </ul>
  </nav>
{% block content %}

{% endblock %}
</body>
</html>
