{% extends "base.html" %}
{% block head %}
<title>Add Brand Form</title>
{% endblock %}

{% block content %}
<h3>{{action}} Brand</h3>

<form method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{brand.name}}" class="form-control"/>
  </div>
  {% if brand.facebook_id %}
  <p>Facebook ID is known</p>
  {% endif %}
  <div class="form-group">
    <label for="notes">Notes</label>
    <input type="text" name="notes" id="notes" value="{{brand.notes}}" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
