{% extends "view.html" %}
{% block head %}
<title>{{ mod.capitalize() }} Management</title>
{% endblock head %}

{% block header %}
{{ super() }}
<h1>
  Manage Campaign -
  {{ data.name|title|e if data.name else data.id }}
  {% if data.brands|length > 0 %}
  - {{ data.brands|join(", ")|e }}
  {% elif data.brands|length > 0 %}
  - {{ data.brands[0]|e }}
  {% else %}
  - Unassigned Brands
  {% endif %}
</h1>
<p>
  Last Updated on {{data.modified}} |
  {%if completed%}Finished Campaign{%else%}Active Campaign{%endif%} |
  <a href="{{ url_for('edit', mod=mod, id=data.id) }}">Change Campaign Settings</a>
  <br /><strong>Notes: </strong> {{ data.notes|e }}
</p>
{% if data.brands|length < 1 %}
<p>
  There are no Brands associated with this campaign! You probably want to
  <a href="{{url_for('edit', mod=mod, id=data.id)}}">Change Campaign Settings</a>
</p>
{% endif %}
{% if data.users|length < 1 %}
<h2>No Influencers assigned in Campaign</h2>
<p>You probably want to <a href="{{url_for('edit', mod=mod, id=data.id)}}">Change Campaign Settings</a></p>
{% endif %}
{% endblock header %}
{% block content %}
<main>
  {% for user in data.users %}
  <div class="users" id="user_{{user.id}}">
    <h2>Media Post Assignment for - {{user.name|e}} ( {{related[user]|length}} )</h2>
    <form action="" method="POST">
      {% for post in related[user] %}
      <section class="posts" id="post_{{post.id}}">
        <article>
          <p><a href="{{post.permalink}}">{{post.media_type}} | {{post.recorded}}</a></p>
          <p>
            {{post.caption|e}}
          </p>
        </article>
        <input type="radio" id="accept_{{post.id}}" name="assign_{{post.id}}" value="{{data.id}}">
          <label for="accept_{{post.id}}">Campaign</label>
        <input type="radio" id="reject_{{post.id}}" name="assign_{{post.id}}" value="-1">
          <label for="reject_{{post.id}}">Other</label>
        <input type="radio" id="ignore_{{post.id}}" name="assign_{{post.id}}" value="0" checked>
          <label for="ignore_{{post.id}}">Skip</label>
        <hr />
      </section>
      {% endfor %}
      <input type="submit" value="Confirm Assignments">
    </form>
  </div>
  {% endfor %}
</main>

{% endblock content %}
