{% extends "base.html" %}
{% block head %}
<title> {{user.capitalize()}} Chart Data</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
<h1>{{user}} Insight Data</h1>
<canvas id="chartelem" height="400px" width="1000px"></canvas>
<script>
  function makeChart(){
    let titles = [ {% for item in titles %} "{{ item }}", {% endfor %} ];
    let labels = [ {% for item in labels %} "{{ item }}", {% endfor %} ];
    let colors = [ {% for item in colors %} "{{ item }}", {% endfor %} ];
    chartData = [];
    {% for insight in dataset %}
    chartData.push([{% for item in dataset[insight]['data'].values() %}{{item}}, {% endfor %}]);
    {% endfor %}
    chartDataset = [];
    for(i = 0; i < chartData.length; i++) {
      let temp = {
        label: titles[i],
        backgroundColor: colors[i],
        borderColor: '#214',
        data: chartData[i]
      }
      chartDataset.push(temp);
    }
    max = {{ max }};
    min = {{ min }};
    steps = {{ steps }};

    var ctx = document.getElementById('chartelem').getContext('2d');
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: chartDataset
      },
      options: {
        responsive: false,
        scales: {
          yAxes: [{
            ticks: {
              max: max,
              min: min,
              stepSize: steps
            }
          }]
        }
      }
    });
    Chart.defaults.global.defaultFontColor = '#333';
  }
  makeChart();
</script>
{% endblock %}
