{% extends "base.html" %}
{% block head %}
<title>Data Report</title>
{% endblock %}

{% block content %}
<h1>Data Report</h1>
{% if link and id %}
<ul>
  <li><a href="{{ link }}">View Google Worksheet</a> </li>
  <li><a href="{{ url_for('update_data', id) }}">Update Report</a></li>
</ul>
{% endif %}
<p>
  {{ data }}
</p>
<p>
    <a href="{{ url_for('create_data') }}">Create New Worksheet</a>
</p>
<ul>
  <li><a href="{{ url_for('render_static', page_name='test') }}">Test Styles Page</a></li>
  <li><a href="{{ url_for('load_user') }}">Load User from file</a> </li>
  <li><a href="{{ url_for('add', mod='user') }}">Add Fake User</a></li>
  <li><a href="{{ url_for('all', mod='post') }}">List all Posts</a></li>
  <li><a href="{{ url_for('all', mod='insight') }}">List all Insights</a></li>
  <li><a href="{{ url_for('all', mod='audience') }}">List all Audience Data</a></li>
</ul>

{% endblock %}
