{% extends "base.html" %}
{% block head %}
<title>{{mod|capitalize}} Data Report</title>
{% endblock head %}

{% block intro %}
<h2>{{mod|capitalize}} Data Report</h2>
{{ super() }}
{% endblock intro %}

{% block content %}
<ul>
  <li><a href="{{ url_for('data_permissions', mod=mod, id=id, sheet_id=sheet['id']) }}">Manage Access to the Worksheet</a></li>
  <li><a href="{{ sheet['link'] }}">View Google Worksheet</a> </li>
  {% if mod == 'campaign' %}
  <li><a href="{{ url_for('update_data', mod=mod, id=id, sheet_id=sheet['id']) }}">Update Data in Report</a></li>
  <li><a href="{{ url_for('campaign', id=id) }}">Return to Campaign Manage Page</a></li>
  <li><a href="{{ url_for('detail_campaign', id=id) }}">Collected Posts for this Campaign</a></li>
  {% endif %}
</ul>
{% if sheet.get('ranges') %}
<p>Worksheet Range(s): {% for ea in sheet['ranges'] %} {{ ea }} | {% endfor %}</p>
{% endif %}
{% if sheet.get('permissions') %}
<h3>Allowed Users</h3>
<ul>
  {% for ea in sheet['permissions'] %}
  <li>
    {% if ea['deleted'] %}
    DELETED:
    {% endif %}
    {{ea.get('type')}} - {{ea.get('role')}}:
    <a href="mailto:{{ea.get('emailAddress')}}">{{ea.get('displayName')}}</a>
  </li>
  {% else %}
  <li>No permissions found</li>
  {% endfor %}
</ul>
{% elif sheet.get('values') %}
<p>
  The first sheet in this document has {{ sheet['values']|length }} rows of data.
</p>
{% endif %}

{% endblock content %}
