{% extends "base.html" %}
{% block head %}
<title>Data Report</title>
{% endblock head %}

{% block content %}
<h1>Data Report</h1>
{% if link and sheet_id %}
<ul>
  <li><a href="{{ link }}">View Google Worksheet</a> </li>
  {% if campaign_id %}
  <li><a href="{{ url_for('update_data', campaign_id=campaign_id, sheet_id=sheet_id) }}">Update Report</a></li>
  {% endif %}
</ul>
{% endif %}
<p>
  Worksheet Range: {{ data.get('range', 'Unknown') }}
</p>
{% if data.get('allowed_users') %}
<p>
  Allowed Users: {{ ', '.join(data['allowed_users']) }}
</p>
{% elif data.get('values') %}
<table>
  {% for row in data['values'] %}
  <tr>
    {% for col in row %}
    <td>{{col}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}
<ul>
  {% if sheet_id %}
  <li><a href="{{ url_for('data_permissions', sheet_id=sheet_id) }}">View and Manage Access to the Worksheet</a></li>
  {% endif %}
  {% if campaign_id %}
  <li><a href="{{ url_for('campaign', id=campaign_id) }}">Return to Campaign Manage Page</a></li>
  <li><a href="{{ url_for('detail_campaign', id=campaign_id) }}">View Collected Posts for this Campaign</a></li>
  {% endif %}
</ul>

{% endblock content %}
