{% extends "base.html" %}
{% block head %}
<title>Select InstaGram Account</title>
{% endblock head %}

{% block header %}
{{ super() }}
<h1>Which InstaGram account to use?</h1>
{% endblock header %}

{% block content %}
<main>
  {% for account in ig_list %}
  <hr />
  <form action="{{url_for('edit', mod=mod, id=id)}} " method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <h3>{{account.name}} </h3>
      <input type="hidden" name="name" id="name" value="{{account.name}}" />
      <input type="hidden" name="instagram_id" id="ig_id" value="{{account.id}}" />
      <input type="hidden" name="followers_count" id="followers_count" value="{{account.followers_count}}" />
      <input type="hidden" name="media_count" id="media_count" value="{{account.media_count}}" />
      <input type="hidden" name="page_id" id="page_id" value="{{account.page_id}}" />
    </div>
    <ul>
      <li>followers count: {{account.followers_count}}</li>
      <li>media_count: {{account.media_count}} </li>
    </ul>
    <button type="submit" class="btn btn-success">{{account.name}}</button>
  </form>
  {% else %}
  <hr />
  <p>
    We did not find an Instagram professional account connected to your Facebook identity.
    Make sure your Instagram account has been turned into a professional account,
    and that it is connected to a Facebook page as expected.
    For clarification or assistance, you can contact a Platform admin or manager.
  </p>
  {% endfor %}
</main>
{% endblock content %}
