{% extends "base.html" %}
{% block head %}
<title>Insert Page Title Here</title>
{% endblock head %}

{% block header %}
{{ super() }}
<h1>Top Heading Option 1</h1>
{% endblock header %}

{% block intro %}
  <h2>Some Page Intro Headding</h2>
  <p>Some intro paragraph </p>
  <ul>
    <li>Some</li>
    <li>Intro</li>
    <li>Unordered List</li>
  </ul>
  <ol>
    <li>Some</li>
    <li>Intro</li>
    <li>Ordered List</li>
  </ol>
{% endblock intro %}

{% block content %}
  <h1>Or Top Heading Option 2</h1>
  <p>
    {% if data %}
    {{ data }}
    {% else %}
    some static content.
    {% endif %}
  </p>
  <h2>Another Heading</h2>
  <ul>
    <li><a href="{{ url_for('home') }}">Link example Home</a></li>
  </ul>
{% endblock content %}
