{% extends "base.html" %}
{% block head %}
<title>Home Index Page</title>
{% endblock %}

{% block content %}
<h1>Influencer Sign Up Portal</h1>
<p>
   This application is currently in the development stages. To sign up as a test user,
   the developers must add your Facebook username. Then you confirm through
   <a href="https://developers.facebook.com/requests/">Facebook developer requests site</a>.
</p>
<p>After that, you can use the link below to create a new Influencer account.</p>

<h2>Join the platform as an Influencer</h2>
<ul>
  <li><a href="{{ url_for('login', mod='user') }}">FaceBook & InstaGram Authorization as Influencer</a></li>
</ul>

<h2>Join the platform as a Brand</h2>
<ul>
  <li><a href="{{ url_for('login', mod='brand') }}">FaceBook & InstaGram Authorization as Brand</a></li>
</ul>
{% endblock %}
