{% extends "base.html" %}

{% block header %}
{{ super() }}
{% endblock header %}

{% block intro %}
    {% if current_user.is_authenticated %}
    <p class="platform-user-header">
      Using the Platform as - {{ current_user.name }}
    </p>
    {% endif %}
    <p>
      This platform is for tracking and analyzing media campaigns, using the
      data collected through Facebook/Instagram API on Instagram Professional
      Accounts. Campaigns, which are mutually agreed on relationships between
      influencers, agencies and brand partners, are created and processed by
      admin and managers on the Bacchus Influencer Platform.
    </p>
{% endblock intro %}

{% block content %}
    <!-- <h4>During Development and Testing</h4>
  <p>
    This application is currently in the development stages. To sign up as a test user,
    the developers must add your Facebook username. Then you confirm through
    <a href="https://developers.facebook.com/requests/">Facebook developer requests site</a>.
    After that, you can use the link below to create a new Influencer or Brand account.
  </p> -->
  <section class="main-content-box">
    {% if current_user.is_authenticated %}
    <h2>Join the Platform!</h2>
    <p>
      You are already logged in as {{current_user}}. If you want to see the join
      links, or sign in as a different user, you should
      <a href="{{ url_for('logout') }}">Logout</a>.
    </p>
    {% else %}
    <h2>Influencers</h2>
    <div class="sub-main-content">
      <h3>Join the Platform as an Influencer!</h3>
      <p>
        To take advantage of the platform, you will be asked to confirm that we
        have your permission to view your Instagram professional account,
        insights, and media. Instagram professional accounts should be connected
        to a Facebook user, so we are using Facebook Login to confirm your
        account and permissions.
      </p>
      <p class="join">
        <a class="fb-login" id="influencer-join" href="{{ url_for('fb_login', mod='influencer') }}">
          Continue with Facebook
        </a>
        <!-- <label for="influencer-join">as an Influencer</label> -->
      </p>
      <p>
        As an influencer on Instagram, you bring value to brands with you social
        media presence and engagement. Leverage the Bacchus Influencer Platform
        for tracking and reporting that value to your campaign brand partners.
      </p>
    </div>
  </section>
  <section class="main-content-box">
    <h2>Brands</h2>
    <div class="sub-main-content">
      <h3>Join the Platform as a Brand!</h3>
      <p>
        To take full advantage of the platform, you will be asked to confirm
        that we have your permission to view your Instagram professional
        account, insights, and media. Make sure you login as the Facebook user
        that is connected to your brand's Instagram professional account to
        verify your account and permissions. An account without a connected
        Instagram account can be created by a platform admin or manager.
      </p>
      <p class="join">
        <a class="fb-login" id="brand-join" href="{{ url_for('fb_login', mod='brand') }}">
          Continue with Facebook
        </a>
        <!-- <label for="brand-join">as a Brand</label> -->
      </p>
      <p>
        As a Brand partner, you can leverage the Bacchus Influencer Platform to
        gain insightful metrics for your campaigns with social media
        influencers. You gain additional features and metrics by also connecting
        your brand's Instagram professional account.
      </p>
      {% endif %}
    </div>
  </section>

  <section class="main-content-box">
    <h2>Campaigns</h2>
    <div class="sub-main-content">
      <p>
        Only Bacchus staff and approved consultants have access to the account
        data on this platform to manage and generate reports. These reports are
        delivered to influencers and brands for campaigns they are involved
        with, to better understand campaign performance. View the
        <a href="{{ url_for('render_static', page_name='privacy') }}">Privacy Policy</a>
        and <a href="{{ url_for('render_static', page_name='tos') }}">Terms of Service</a>
        for more details. In general, data that is collected for campaigns include:
      </p>
      <ul>
        <li>Media posts and associated metrics such as impressions, likes, and reach</li>
        <li>Account Insights such as follower city and active follower count</li>
        <li>
          Collecting this data and storing in campaigns (collection of multiple
          posts) alleviates the manual sending of each media posts metrics, and
          automates reporting for large campaigns with hundreds of posts across
          dozens of accounts. Joining the platform does not grant access to
          other non-partnered influencers or brands. A brand or influencer will
          only be able to view metrics and insights on their own account.
        </li>
      </ul>
    </div>
  </section>
{% endblock content %}
