{% extends "base.html" %}

{% block content %}
<h1>Bacchus Influencer Platform</h1>
<p>
   This application is currently in the development stages. To sign up as a test user,
   the developers must add your Facebook username. Then you confirm through
   <a href="https://developers.facebook.com/requests/">Facebook developer requests site</a>.
</p>
<p>After that, you can use the link below to create a new Influencer account.</p>

<h2>Join the Platform!</h2>
<p>To take advantage of the platform, you will be asked to confirm that we have your
   permission to view your InstaGram insights. 
</p>
<h3>
  <a href="{{ url_for('fb_login', mod='influencer') }}">
    Join as an Influencer
  </a>
</h3>
<h3>
  <a href="{{ url_for('fb_login', mod='brand') }}">
    Join as a Brand partner
  </a>
</h3>

{% endblock %}
