{% extends "view.html" %}

{% block data_view %}

<h3>{{data.user}}: {{data.recorded}} </h3>
<h4> Impressions</h4>
<ul>
  <li>Old: {{data['old_impressions']}}</li>
  <li>New: {{data['new_impressions']}}</li>
</ul>
<h4>Reach</h4>
<ul>
  <li>Old: {{data['old_reach']}}</li>
  <li>New: {{data['new_reach']}}</li>
</ul>
<h4>Follower Count</h4>
<ul>
  <li>Old: {{data['old_follower_count']}}</li>
  <li>New: {{data['new_follower_count']}}</li>
</ul>
{% endblock %}

<table>
    <tr>
      <th>Metric</th>
      <th>Old</th>
      <th>New</th>
    </tr>
    <tr>
      <th>Impressions</th>
      <td>{{data['old_impressions']}} </td>
      <td>{{data['new_impressions']}} </td>
    </tr>
    <tr>
      <th>Reach</th>
      <td>{{data['old_reach']}} </td>
      <td>{{data['new_reach']}} </td>
    </tr>
    <tr>
      <th>Follower Count</th>
      <td>{{data['old_follower_count']}} </td>
      <td>{{data['new_follower_count']}} </td>
    </tr>
  </table>
