{% extends "base.html" %}
{% block head %}
<title>{{ mod.capitalize() }}s</title>
{% endblock %}

{% block content %}
<h3>All Current {{ mod.capitalize() }}s</h3>
<ul>
{% if data|length > 0 %}
  {% for datum in data %}
  <li><a href="{{ url_for('view', mod=mod, id=datum.id) }}">
    {{ datum }}
  </a> </li>
  {% endfor %}
{% else %}
  <li>Currently None</li>
{% endif %}
</ul>
<h3>Other Options</h3>
<ul>
  <li><a href="{{url_for('add', mod=mod)}}">Add {% if mod == 'user' %}Fake {%endif%}{{mod.capitalize()}}</a></li>
  {% if mod == 'campaign' %}
  <li><a href="{{ url_for('add', mod='brand')}}">Add Brand</a></li>
  {% endif %}
</ul>
{% endblock %}
