{% extends "view.html" %}

{% block data_view %}
<ul>
{% for key in data.keys() %}
  {% if key == 'permalink' %}
  <li><a href="{{ data[key] }}">Instagram {{key|title}}</a> </li>
  {% elif key == 'saved_media' and data[key] %}
  <li><a href="{{ data[key] }}">Captured - Saved Media</a></li>

  {% else %}
  <li>
    {{key}}:
    {% if data[key] is iterable and data[key] is not string %}
    <ul>
      {% for ea in data[key] %}
      <li>{% if key == 'saved_media_options' %}{{ ea|urlize }}{% else %}{{ ea }}{% endif %}</li>
      {% else %}
      <li>Empty List</li>
      {% endfor %}
    </ul>
    {% else %}
    {{data[key]}}
    {% endif %}
  </li>
  {% endif %}
{% else %}
<li>No Data</li>
{% endfor %}
</ul>
{% if current_user.role in ['admin', 'manager'] %}
<p>
  <a href="{{ url_for('capture', id=data['id']) }}">Capture Media Files</a>
</p>
{% endif %}
{% endblock data_view %}
