{% extends 'base.html' %}
{% block head %}
<title>Test Page</title>
{% endblock %}
{% block content %}
<h1>This is the first header</h1>
<h2>This is the Second Header</h2>
<h3>Third header</h3>
<h4>fourth header</h4>
<h5>fifth header</h5>
<h6>sixth header</h6>
<p>
  Age is something only in your head or a stereotype. Age means nothing when you are passionate about something. Sometimes the simplest things are the most profound. Design and style should work toward making you look good and feel good without a lot of effort so you can get on with the things that matter. You have to be luxurious nude. It's difficult to move in the nude in front of a mirror. It's much easier to move when you're dressed. But if you can walk around in the nude easily in front of your man, if you can be luxurious in the nude, then you've really got it. I am not interested in shock tactics. I just want to make beautiful clothes.
</p>
  It is not easy to dress well. I have a fantastic relationship with money. I use it to buy my freedom. Those fashion designers are just crazy; but aren't we all? You have a more interesting life if you wear impressive clothes. I want to thank all the women who have worn my clothes, the famous and the unknown, who have been so faithful to me and given me so much joy.
<p>
  Doing collections, doing fashion is like a non-stop dialogue. I wish I had invented blue jeans. They have expression, modesty, sex appeal, simplicity - all I hope for in my clothes. I love you if you love me. I am convinced that there can be luxury in simplicity. You have to always work against what you did before, and even against your taste.
</p>
<p>
  Elegance isn't solely defined by what you wear. It's how you carry yourself, how you speak, what you read. I love women's fashion, but women don't need me as much as men do. It's the men who have nothing to wear. I can't get sucked into that celebrity thing, because I think it's just crass. For me, art is about learning and about living with people. It's alive. It pains me physically to see a woman victimized, rendered pathetic, by fashion.
</p>
<hr />
<!-- <p>Here is some data: {{ data }} </p> -->
<ul>
  <li>First list item</li>
  <li>Second list item</li>
  <li>Third list item</li>
</ul>
<ol>
  <li>Ordered first</li>
  <li>Ordered second</li>
  <li>Ordered third</li>
</ol>

<ul>
    <li><a href="{{ url_for('add', mod='user') }}">Add Fake User</a></li>
    <li><a href="{{ url_for('all', mod='insight') }}">Admin - List Insights</a></li>
    <li><a href="{{ url_for('all', mod='audience') }}">Admin - List all Audience Data</a></li>
</ul>
<!-- <ul>
  {% for datum in data %}
  <li>{{datum}}</li>
  {% endfor %}
</ul> -->
{% endblock %}
