{% extends "base.html" %}
{% block head %}
<title>Terms of Service</title>
{% endblock head %}

{% block intro %}
<h2 class="status">Terms and Conditions</h2>
{% endblock intro %}

{% block content %}
<address>Last Update: November 11, 2019</address>

<ol type="1">
  <li>
    <h2>ACCEPTANCE</h2>
    <p>
      These Terms and Conditions (the “Terms”) govern your use of Bacchus Influencer Platform (the “Platform”). These Terms have a force of a legally binding agreement, even if you are simply browsing without intention to contact us or register an account. The term "us," "we" or "our" refers to the owners and operators of this Platform. The term "you" refers to the viewer of the Platform.
     <a href="{{ url_for('render_static', page_name='privacy') }}">Privacy Policy</a> is another important document that you should familiarize yourself with because it describes our practices with respect to your personal information. You cannot visit the Platform if you do not agree to these Terms or the Privacy Policy. Sometimes we modify these Terms. We don’t notify users about every change to the Terms but you can see the date of the last update at the top of this page. If you still wish to visit the Platform after said date, that constitutes your agreement to the updates.
    </p>
  </li>
  <li>
    <h2>NEUTRAL VENUE</h2>
    <ol type="a">
      <li>
        <strong>Venue.</strong> Our Platform allows users to report and measure their Instagram Stories and posts by exporting their account Insights with Story and post metrics into Google Sheets. Users can log in to the Platform to measure their Instagram account engagement and campaign performance. Our Platform will not post, update, or gather any information outside of analytics for Instagram Stories and posts. WE SHALL NOT BE HELD LIABLE FOR USERS’ CONTENT, CAMPAIGNS, TRANSACTIONS, INTERACTIONS AND INFORMATION.
      </li>
      <li>
        <strong>Third Parties.</strong> The Platform relies on third party services (e.g., Instagram and Facebook) for support. We shall not be liable for any third party venues and cannot guarantee their performance. We do not monitor all content that our Platform automatically measures for users. We shall not be liable for user submissions or any third party content on the Platform.
      </li>
    </ol>
  </li>
  <li>
    <h2>INTELLECTUAL PROPERTY</h2>
    <ol type="a">
      <li>
        <strong>Our Intellectual Property.</strong> We and our content suppliers own all intellectual property rights in our Platform contents, logos, trademarks (whether registered or unregistered) and data. Our IP rights are protected by English law and international IP conventions. By using our Platform you do not acquire any of our IP rights. Nevertheless, you can view and print out this Platform’s content for personal use. We reserve all rights that are not expressly granted under these Terms or other written agreements between you and us.
      </li>
      <li>
        <strong>Copyright Infringement.</strong> We take copyright infringement seriously. Report it to us if you see it on our Platform and we will investigate.
      </li>
    </ol>
  </li>
  <li>
    <h2>USERS’ OBLIGATIONS</h2>
    <p>By visiting this Platform, you represent and agree that:</p>
    <ol type="a">
      <li>
        You are 16 years of age or older. You have a full capacity to enter into a legally binding agreement, such as these Terms.
      </li>
      <li>
        We reserve the right to edit, reject or erase anything submitted to us without prior notice. You will not send spam, anything defamatory, vulgar, racist, abusive or hateful.
      </li>
      <li>
        You will ask for our permission before copying anything from our Platform for republication.
      </li>
      <li>
        You will not use our Platform for anything illegal.
      </li>
      <li>
        We reserve the right to terminate any account using our sole reasonable discretion and without notice or liability.
      </li>
      <li>
        Bots, crawlers, indexers, web spiders, harvesters or any similar automatic processes are not allowed on our Platform.
      </li>
      <li>
        You will not impede the proper functioning of the Platform.
      </li>
    </ol>
  </li>
  <li>
    <h2>CONFIDENTIALITY</h2>
    <p>
      You cannot use or disclose any confidential information relating to our business, users, operations and properties for any purpose without our express prior written authorization. You agree to take all reasonable measures to protect the secrecy of and avoid disclosure or use of our confidential information.
    </p>
  </li>
  <li>
    <h2>BREACH OF THESE TERMS</h2>
    <p>
      If any user violates these Terms or any law, we can, without limitation: (i) ban that user from the Platform; (ii) disclose the user’s identity to authorities and assist in investigations; (iii) delete or moderate the user’s content; (iv) take any other action available under law.
    </p>
  </li>
  <li>
    <h2>
      DISCLAIMER OF WARRANTY; LIMITATION OF LIABILITY
    </h2>
    <ol type="a">
      <li>
        EVERYTHING WE PROVIDE ON THIS PLATFORM IS ON AN “AS IS” BASIS, TO BE RELIED ON AT YOUR OWN RISK. DO YOUR OWN RESEARCH BEFORE RELYING ON ANYTHING ON THIS PLATFORM.  WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUALITY, NON-INFRINGEMENT, SAFETY, FREEDOM FROM DEFECTS OR THAT DEFECTS WILL BE CORRECTED, UNINTERRUPTED, VIRUS-FREE OR ERROR-FREE PERFORMANCE.
      </li>
      <li>
        WE ARE NOT LIABLE FOR INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS AND PROPERTY DAMAGE, EVEN IF WE WERE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, NOR SHALL WE BE HELD LIABLE FOR DELAY OR FAILURE IN PERFORMANCE RESULTING FROM CAUSES BEYOND OUR REASONABLE CONTROL. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF CERTAIN WARRANTIES, SO THE ABOVE LIMITATIONS IN THIS SECTION MAY NOT APPLY TO YOU.
      </li>
    </ol>
  </li>
  <li>
    <h2>INDEMNIFICATION</h2>
    <p>
      You agree to defend, indemnify and hold harmless our company, its officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to the Platform; (ii) your violation of any provision of these Terms; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that one of your user submissions caused damage to a third party.
    </p>
  </li>
  <li>
    <h2>GOVERNING LAW AND JURISDICTION</h2>
    <p>
      These Terms are governed by English law. By using the Platform you agree to submit to the exclusive jurisdiction of the English courts.
    </p>
  </li>
  <li>
    <h2>GENERAL</h2>
    <ol type="a">
      <li>
        <strong>Communications.</strong> You agree that we can communicate with you electronically, via SMS, push notifications, email or phone calls. All electronic communications shall have the same legal force as if they were in paper form.
      </li>
      <li>
        <strong>Relationship of the Parties.</strong> You and us are in an independent contractor relationship with respect to each other. That means that there is no partnership, joint venture, employer/employee or any similar arrangement.
      </li>
      <li>
        <strong>Hyperlinks.</strong> Linking to our Platform is allowed, however, it must always be done in a way that does not adversely affect our business or implies some form of association when there is none.
      </li>
      <li>
        <strong>Severability.</strong> If any part of these Terms is found to be unenforceable, then only that particular portion, and not the entire Terms, will be unenforceable.
      </li>
      <li>
        <strong>Assignment.</strong> We have the right, at our sole discretion, to assign or subcontract our rights or obligations outlined in these Terms.
      </li>
      <li>
        <strong>Waiver.</strong> Our failure to exercise any of our rights under these Terms shall not be considered a waiver to exercise them in other instances. No waiver shall be effective unless it is in writing signed by us.
      </li>
      <li>
        <strong>Prevailing Language.</strong> If there are any inconsistencies or conflicts between the English original of these Terms and any foreign language translation, the English version shall prevail.
      </li>
    </ol>
  </li>
</ol>

{% endblock content %}
