{% extends "base.html" %}
{% block head %}
<title>{{ mod.capitalize() }} View Page</title>
{% endblock %}

{% block content %}
<h2>{{ mod.capitalize() }} Details</h2>

{% block data_view %}
<ul>
{% for key in data.keys() %}
  {% if key == 'insight' %}
  <li><a href="{{ url_for('insights', mod=mod, id=data.id)}}">See Insights</a> </li>
  {% elif key == 'audience' %}
  <li> {{ key }} </li>
    <ul>
      {% for ea in data[key] %}
      <li><a href="{{ url_for('view', mod=key, id=ea.id) }}">
        {{ ea.name }} as of {{ea.recorded}}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
  <li>{{key}}: {{data[key]}} </li>
  {% endif %}
{% endfor %}
</ul>
{% endblock %}

{% block modify %}
{% if mod in ['user', 'brand', 'campaign'] %}
<h3>Modify Record</h3>
<ul>
  {% if mod == 'user' or mod == 'brand' %}
  <li><a href="{{ url_for('new_post', mod=mod, id=data.id)}}">Get New Media / Posts</a> </li>
  <li><a href="{{ url_for('new_insight', mod=mod, id=data.id)}}">Get New {{mod|title}} Insights</a> </li>
  <li><a href="{{ url_for('new_audience', mod=mod, id=data.id)}}">Get New Audience Data</a> </li>
  <li><a href="{{ url_for('migrate_save', mod=mod, id=data.id )}}">Admin - Log {{mod|title}} Data</a> </li>
  {% endif %}
  <li>CAREFUL BELOW!</li>
  <li><a href="{{ url_for('edit', mod=mod, id=data.id) }}">Update {{ mod|title }}</a></li>
  <li><a href="{{ url_for('delete', mod=mod, id=data.id) }}">Delete {{ mod|title }}</a></li>
</ul>
{% endif %}
{% endblock %}

{% endblock %}
