{% extends "base.html" %} {% block head %}
<title>{{ mod.capitalize() }} View Page</title>
{% endblock %} {% block header %} {{ super() }} {% endblock header %} {% block
content %}

<main>
  <div class="intro">
    <h2>
      {{ mod.capitalize() }} Details {% if data.get('name') %}for {{
      data['name'] }}{% endif %}
    </h2>

    {% if current_user.is_authenticated %}
    <p class="platform-user-header">
      Using the Platform as - {{ current_user.name }}
    </p>
    {% endif %}
  </div>

  {% block data_view %}
  <ul>
  {% for key in data.keys() %}
    {% if key == 'insights' and data[key]|length %}
    <li>
      <a href="{{ url_for('insights', mod=mod, id=data['id']) }}"
        >See Insights</a>
    </li>
    {% elif key == 'aud_count' %}
    <li>
      <input id="collapsible_{{key}}" class="toggle" type="checkbox" />
      <label for="collapsible_{{key}}" class="lbl-toggle">
        audience count: {{ data[key]|length }} records, or approximately {{
        data[key]|length // 4 }} days.
      </label>
      <ul class="collapsible-content {{key}}">
        {% for ea in data[key] %}
        <li>{{ ea }}</li>
        {% else %}
        <li>EMPTY NONE</li>
        {% endfor %}
      </ul>
    </li>
    {% elif key == 'posts' and data[key]|length %}
    <li>
      <input id="collapsible_{{key}}" class="toggle" type="checkbox" />
      <label for="collapsible_{{key}}" class="lbl-toggle">
        {{ key }}: {{ data[key]|length }} total.
      </label>
      <ul class="collapsible-content {{key}}">
        {% for ea in data[key] %}
        <li>
          <a href="{{ url_for('view', mod='post', id=ea.id) }}"
            ># {{ea.id}} {{ea.media_type}} posted on {{ea.recorded}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    {% elif key == 'audiences' and data[key]|length %}
    <li>
      {{ key }}
      <ul class="{{ key }}">
        {% for ea in data[key] %}
        <li>
          <a href="{{ url_for('view', mod='audience', id=ea.id) }}">
            {{ ea.name }} as of {{ea.recorded}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    {% elif key in ['facebook_id', 'instagram_id'] %}
    <li>
      {{key}}: {%if data[key] is none %} Not {% endif %} Known
    </li>
    {% else %}
    <li>{% include 'data_expand.html' %}</li>
    {% endif %}
  {% else %}<li>NO DATA</li>
  {% endfor %}
  </ul>
  {% endblock data_view %}

  {% block modify %}
  {% if mod in ['influencer', 'brand', 'admin', 'manager', 'campaign', 'insight', 'audience'] %}
  <h3>Change Data Actions</h3>
  <ul>
    {% if mod in ['influencer', 'brand'] and data['instagram_id'] %}
    <li><a href="{{ url_for('new_post', mod=mod, id=data['id']) }}">Get New Media / Posts</a></li>
    <li><a href="{{ url_for('new_insight', mod=mod, id=data['id']) }}">Get New {{mod|title}} Insights</a></li>
    <li><a href="{{ url_for('new_audience', mod=mod, id=data['id']) }}">Get New Audience Data</a></li>
    {% endif %}
    <li>CAREFUL BELOW!</li>
    <li>
      <a href="{{url_for('decide_new', mod=mod, id=data['id'])}}">Create Account with a different Instagram account</a>
    </li>
    <li><a href="{{ url_for('edit', mod=mod, id=data['id']) }}">Update {{ mod|title }}</a></li>
    {% if current_user.role == 'admin' or (current_user['id'] == data['id'] and current_user.role == mod) %}
    <li><a href="{{ url_for('delete', mod=mod, id=data['id']) }}">Delete {{ mod|title }}</a></li>
    {% endif %}
    {% if current_user.role == 'admin' %}
    <li><a href="{{ url_for('permission_check', mod=mod, id=data['id'])}}">View permissions granted to Platform</a></li>
    <li><a href="{{ url_for('export', mod=mod, id=data['id'])}}">Export Data to a Google Sheet</a></li>
    {% endif %}
  </ul>
  {% endif %}
  {% endblock modify %}
</main>
{% endblock content %}
