{% extends "base.html" %}
{% block head %}
<title>{{ mod.capitalize() }} View Page</title>
{% endblock %}

{% block content %}
<h3>{{ mod.capitalize() }} Account Details</h3>
<ul>
  {% for key in data.keys() %}
  <li>{{key}}: {{data[key]}} </li>
  {% endfor %}
</ul>

<ul>
  <li><a href="{{ url_for('edit', mod=mod, id=data.id) }}">Update {{ mod.capitalize() }} Account</a></li>
  <li><a href="{{ url_for('delete', mod=mod, id=data.id) }}">Delete {{ mod.capitalize() }} Account</a></li>
</ul>

{% endblock %}
