/* Given Specifications:
red: rgb(183, 149, 158)
blue: rgb(57, 70, 80)
grey: rgb(191, 193, 194)
font: APERCU
title-page: Size - 120pt, Capital, Bold, Tracking- 6%
heading: Size - 30pt, Capital, Bold, Tracking- 20%
subheading: Size - 20/18pt, Capital, Medium, Tracking- 20%
Body: Tracking - 75, Size - 20/18pt, Sentence Case, Light, Tracking- 12%, Line space - 1.4
*/

